# miniemacs.d gitignore

# ignore some files
*~
*.elc

# ignore some specific files
auto-save-list
recentf
ac-comphist.dat

# ignore some directories
/auto-save-list

# keep some directories
elpa/*
!.gitkeep

backups/*
!.gitkeep